* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
form {
  margin-top: 30px;
}

.user-post, .user-review {
  font-weight: bold;
}

.worst-to-best::after {
  content: 'worst to best';
}

.best-to-worst::after {
  content: 'best to worst';
}